body{
    background-color: rgb(172, 93, 93);
}

div{
    width: 400px;
    background-color: blue;
    margin: 50px auto;
    padding: 30px; /* espacio */
    
}


img{
    width: 100%; /* Seria el 100% de 400px */
}

.span{
    display: block;
}




